/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
p, ul, ol {
  font-size: 10px;
  line-height: inherit;
  list-style-type: square;
}

header {
  text-align: center;
}

header, h1, h2 {
  letter-spacing: 1px;
  word-spacing: 1px;
}

section p::first-line {
  text-indent: 20px;
}

a {
  text-decoration: underline;
}

a:visited {
  color: indianred;

}

a:focus {
  color: rgba(170, 102, 102, 0.145);;
}

a:hover  {
 color:  rgba(170, 102, 102, 0.37);
}

a[href*="//"]:not([href*="#"]) {
  background: url('external-link.png') no-repeat 100% 0;
  background-size: 12px 12px;
  padding-right: 19px;
}
